// Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$danger-color: #dc3545;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.mat-dialog-container {
  padding: 24px;
  animation: fadeIn 0.3s ease-out; // Apply fade-in animation on load

  &.fade-out {
    animation: fadeOut 0.3s ease-in forwards; // Apply fade-out animation on close
  }

  .modal-body-content {
    display: flex;
    align-items: flex-start;

    .modal-image {
      flex: 1;
      margin-right: 20px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    .modal-details {
      flex: 2;

      p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
      }

      .modal-buttons {
        display: flex;
        gap: 15px;

        button {
          font-size: 14px;
          padding: 8px 16px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          gap: 8px;

          i {
            font-size: 16px;
          }
        }
      }
    }
  }


}


.mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}