<section class="container-section" [id]="cardId">
  <p class="intro">Browse My Recent</p>
  <p class="title">{{ cardTitle }}</p>
  <div class="container-details">
    @for (item of items; track $index) {
    <div class="container-box">
      <div class="image-container">
        <img
          [src]="item.img"
          [alt]="item.title"
          class="img-thumbnail container-img"
        />
        <button class="btn btn-secondary view-btn" (click)="openModal(item)">
          <i class="fa-solid fa-eye"></i> View 
        </button>
      </div>
      <p class="container-title">{{ item.title }}</p>
    
    </div>
    }
  </div>
</section>
