<section class="certifications-section" id="certifications">
  <p class="intro">Browse My Recent</p>
  <h1 class="title">Certifications</h1>
  <div class="certifications-details">
    <div class="certification-box" *ngFor="let certification of certifications">
      <div class="image-container">
        <img
          [src]="certification.img"
          [alt]="certification.title"
          class="certification-img img-thumbnail"
        />
      </div>
      <h2 class="certification-title">{{ certification.title }}</h2>
      <div class="btn-container" *ngIf="certification.link">
        <button class="btn btn-secondary">View</button>
      </div>
    </div>
  </div>
</section>
