<section class="experience-section" id="experience">
  <p class="experience-intro">Explore My</p>
  <h1 class="experience-title">Experience</h1>
  <div class="experience-info">
    <div class="experience-category" *ngFor="let exp of experiences">
      <h2 class="sub-title">{{ exp.category }}</h2>
      <div class="skills-list">
        <div class="skill-box" *ngFor="let skill of exp.skills">
          <i [class]="skill.icon"></i>
          <p>{{ skill.name }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
