<section class="experience-section" id="experience">
  <p class="intro">Explore My</p>
  <p class="title">Experience</p>
  <div class="experience-info">
    @for (exp of experiences; track $index) {
    <div class="experience-category">
      <p class="sub-title">{{ exp.category }}</p>
      <div class="skills-list">
        @for (skill of exp.skills; track $index) {
        <div class="skill-box">
          <i [class]="skill.icon"></i>
          <p>{{ skill.name }}</p>
        </div>
        }
      </div>
    </div>
    }
  </div>
</section>
