@import "../../common/common";
@import "../../common/variables";

.contact-section {
  padding: 4rem 2rem;
  text-align: center;

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  .contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem;
    border: $border;
    border-radius: 12px;
    background: #fff;
    transition: box-shadow 0.3s, transform 0.3s; // Added transform for smoother effect

    &:hover {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px); // Slight lift effect on hover
    }

    i {
      font-size: 1.3rem; // Adjusted icon size for better visibility
      color: #333; // Icon color
      transition: transform 0.2s; // Smooth icon scaling

      &:hover {
        transform: scale(1.1); // Slight scaling on hover
      }
    }

    p {
      font-size: 1.2rem; // Adjusted font size for better readability
      color: #555; // Text color
      margin: 0;
    }
  }

  // Media Queries
  @media (max-width: 768px) {
    .contact-info {
      flex-direction: column;
      align-items: center;
    }

    .contact-item {
      width: 100%; // Full width on small screens
      max-width: 350px; // Adjusted max width

      p {
        font-size: 1rem; // Adjusted font size for smaller screens
      }
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 2.5rem; // Adjusted title size for very small screens
    }

    .intro {
      font-size: 1.25rem; // Adjusted intro size for very small screens
    }

    .contact-item {
      padding: 1rem; // Reduced padding for very small screens

      i {
        font-size: 1.2rem; // Adjusted icon size for very small screens
      }

      p {
        font-size: 0.9rem; // Adjusted font size for very small screens
      }
    }
  }
}
