@import "../../common/common";
@import "../../common/variables";

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: $primary-bg-color;

  .contact-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem;
    border: $border;
    border-radius: 12px;
    transition: $transition;
    box-shadow: $box-shadow;
    &:hover {
      transform: $transition-hover;
      box-shadow: $box-shadow;
    }
    i {
      font-size: 1.3rem; // Adjusted icon size for better visibility
      color: $primary-text-color; // Icon color
      transition: transform 0.2s; // Smooth icon scaling

      &:hover {
        transform: scale(1.1); // Slight scaling on hover
      }
    }

    p {
      font-size: 1.2rem; // Adjusted font size for better readability
      color: $primary-text-color; // Text color
      margin: 0;
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    width: 100%; // Full width on small screens
    max-width: 350px; // Adjusted max width

    p {
      font-size: 1rem; // Adjusted font size for smaller screens
    }
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.5rem; // Adjusted title size for very small screens
  }

  .intro {
    font-size: 1.25rem; // Adjusted intro size for very small screens
  }

  .contact-item {
    padding: 1rem; // Reduced padding for very small screens

    i {
      font-size: 1.2rem; // Adjusted icon size for very small screens
    }

    p {
      font-size: 0.9rem; // Adjusted font size for very small screens
    }
  }
}