$intro-font-size: 1.5rem;
$title-font-size: 2.5rem;
$intro-m-b: 2rem;
$title-m-b: 3rem;
$title-font-weight: 600;
$transition: transform 0.3s, box-shadow 0.3s;
$transition-hover: translateY(-5px);

// LIGHT THEME
$primary-bg-color: #fff;
$intro-txt-color: #777;
$title-txt-color: #333;
$border: 1px solid #ddd;
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
$secondary-text-color: #777;
$primary-text-color: #343a40;
$border-color: #dee2e6;
$box-bg-color: #ffffff;
$box-hover-bg-color: #f1f3f5;
$title-text-color: #212529;
$btn-bg-color: #007bff;
$btn-text-color: #ffffff;
$btn-hover-bg: #0056b3;
$btn-hover-text: #ffffff;

//DARK THEME
// $primary-bg-color: #2e2e2e;
// $intro-txt-color: #fff;
// $title-txt-color: #fff;
// $border: 1px solid #ddd;
// $primary-text-color: #fff;