<app-nav-bar />

<app-intro [intro]="userInfo" />

<section id="education">
  <p class="intro">Explore My</p>
  <p class="title">Education</p>
  <app-about [about]="userInfo" />
</section>

<section id="experience">
  <p class="intro">Explore My</p>
  <p class="title">Experience</p>
  <app-experience [experiences]="userInfo.experience" />
</section>


<section id="skills">
  <p class="intro">Explore My</p>
  <p class="title">Skills</p>
  <app-skills [skills]="userInfo.skills" />
</section>


<section id="certifications">
  <p class="intro">Browse My Recent</p>
  <p class="title">Certifications</p>
  <app-card [items]="userInfo.certifications"/>
</section>


<section id="projects">
  <p class="intro">Browse My Recent</p>
  <p class="title">Projects</p>
  <app-card [items]="userInfo.projects"/>
</section>


<section id="contact">
  <p class="intro">Get in Touch</p>
  <p class="title">Contact Me</p>
  <app-contact [contacts]="userInfo.contact" />
</section>
