<app-nav-bar></app-nav-bar>
<app-intro [intro]="userInfo"></app-intro>

@for (section of sections; track $index) {
  <section [id]="section.id">
    <app-section-heading [introText]="section.intro" [titleText]="section.title"></app-section-heading>
    <ng-container [ngSwitch]="section.id">
      <app-about *ngSwitchCase="'education'" [about]="userInfo"></app-about>
      <app-experience *ngSwitchCase="'experience'" [experiences]="userInfo.experience"></app-experience>
      <app-skills *ngSwitchCase="'skills'" [skills]="userInfo.skills"></app-skills>
      <app-card *ngSwitchCase="'certifications'" [items]="userInfo.certifications"></app-card>
      <app-card *ngSwitchCase="'projects'" [items]="userInfo.projects"></app-card>
      <app-contact *ngSwitchCase="'contact'" [contacts]="userInfo.contact"></app-contact>
    </ng-container>
  </section>
}
