$primary-bg-color: #fff;
$intro-txt-color: #777;
$title-txt-color: #333;
$intro-font-size: 1.5rem;
$title-font-size: 3rem;
$intro-m-t: 1rem;
$title-m-t: 2rem;
$title-font-weight: 600;
$border: 1px solid #ddd;

$primary-bg-color: #f8f9fa;
$secondary-text-color: #6c757d;
$primary-text-color: #343a40;
$border-color: #dee2e6;
$box-bg-color: #ffffff;
$box-hover-bg-color: #f1f3f5;
$title-text-color: #212529;
$btn-bg-color: #007bff;
$btn-text-color: #ffffff;
$btn-hover-bg: #0056b3;
$btn-hover-text: #ffffff;




$dark-mode-primary-bg-color: #777;
$dark-mode-intro-txt-color: #fff;
$dark-mode-title-txt-color: #333;
$dark-mode-intro-font-size: 1.5rem;
$dark-mode-title-font-size: 3rem;
$dark-mode-intro-m-t: 1rem;
$dark-mode-title-m-t: 2rem;
$dark-mode-title-font-weight: 600;
$dark-mode-border: 1px solid #ddd
