$primary-bg-color: #fff;
$intro-txt-color: #777;
$title-txt-color: #333;
$intro-font-size: 1.5rem;
$title-font-size: 3rem;
$intro-m-t: 1rem;
$title-m-t: 2rem;
$title-font-weight: 600;
$border: 1px solid #ddd
